
<!DOCTYPE html>
<html lang="en">
<head>
  <head>
           <title> new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
</head>
<body>
   <footer>
  <div class="container">
    <p>&copy; 2024 Your Website. All rights reserved.</p>
  </div>
</footer> 
</body>
</html>